In [2]:
# Import Dependencies
import pandas as pd
import os

In [30]:
# Store the file path associated with the file
election_data = os.path.join("Resources", "election_data_1.csv")
#election_data = os.path.join("Resources", "election_data_2.csv")

In [31]:
df_election_data = pd.read_csv(election_data)
df_election_data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [32]:
vote_count = df_election_data['Voter ID'].count()
print(vote_count)

3521001

In [33]:
print(df_election_data.Candidate.unique())

['Khan' 'Correy' 'Li' "O'Tooley"]

In [34]:
candidate_votes = df_election_data['Candidate'].value_counts()
print(candidate_votes)

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [35]:
print(candidate_votes / vote_count * 100)

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [37]:
import operator
print('Winner:',max(candidate_votes.items(), key=operator.itemgetter(1))[0])

Winner: Khan