In [48]:
# Import Dependencies
import pandas as pd
import os

In [49]:
# Store the file path associated with the file
budget_data = os.path.join("Resources", "budget_data_2.csv")

In [43]:
df_budget_data = pd.read_csv(budget_data)
df_budget_data.head()

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933

In [44]:
num_months = df_budget_data['Date'].count()
sum_revenue = df_budget_data['Revenue'].sum()
print('Total months:',num_months)
print('Total Revenue: $',sum_revenue)

Total months: 86
Total Revenue: $ 36973911

In [45]:
df_budget_data['Change'] = df_budget_data['Revenue'].diff()
#print(df_budget_data)
averageRevenueChange = df_budget_data['Change'].sum() / num_months
print('Average Revenue Change:',averageRevenueChange)

Average Revenue Change: -5886.058139534884

In [46]:
maxChange = df_budget_data.loc[df_budget_data['Change'].idxmax()]
print('Greatest Increase in Revenue: ',maxChange['Date'],'($',maxChange['Revenue'],')')

Greatest Increase in Revenue:  Jul-2014 ($ 714387 )

In [47]:
minChange = df_budget_data.loc[df_budget_data['Change'].idxmin()]
print('Greatest Decrease in Revenue:', minChange['Date'],'($',minChange['Revenue'],')')

Greatest Decrease in Revenue: Jun-2014 ($ -930753 )